[run]
source =
  micromechanics
  docs/source/examples
branch = True

[report]
show_missing = True
exclude_lines =
  pragma: no cover
  if __name__ == .__main__.:
  **ERROR**
  return
  raise

[html]
directory = htmlcov
