# docs/requirements.txt
sphinx==4.2.0
sphinx_rtd_theme==1.0.0
sphinx-gallery==0.16.0
setuptools<81
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
readthedocs-sphinx-search==0.1.1
numpy
pandas
scipy
matplotlib
h5py
lmfit
